.navbar-nav li:hover {
    padding: 0.5rem;
    color: red;
}

a:hover {
    color: red;

    padding: 6px;
    font-size: 15px;
}

li {
    list-style-type: none;
}

.nav-item:hover {

    padding: 0.3rem;
    background-color: gray;



}


@media only screen and (max-width: 1000px) {

    
       
}


